.site-meta{
  background: #ff8b8b;
}
#menu i::before,.posts-expand .post-meta{
  color:#ff8b8b;
}
.btn {
  color : #ff8b8b;
  border: 2px solid #ff8b8b;
}
.btn:hover, .post-button .btn:hover{
  background:#ff8b8b;
  border-color:#ff8b8b;
}
